@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    Bulevar kralja Aleksandra 73<br />
    11120 Beograd, Srbija<br />
    <abbr title="Phone">P:</abbr>
    +381 11 324-8464
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:bk160121d@student.etf.bg.ac.rs">bk160121d@student.etf.bg.ac.rs</a><br />
    <strong>Marketing:</strong> <a href="mailto:bk160121d@student.etf.bg.ac.rs">bk160121d@student.etf.bg.ac.rs</a>
</address>